In [12]:
#..DICTIONARY..#

thisdict={
    "Brand":"Ford",
    "Model":"Mustang",
    "Year":1964
}
print(thisdict)
print(thisdict["Brand"])
x=thisdict.get("Brand")
print(x)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
Ford
Ford

In [14]:
#..GET KEYS..#

thisdict={
    "Brand":"Ford",
    "Model":"Mustang",
    "Year":1964
}
x=thisdict.keys()
print(x)

dict_keys(['Brand', 'Model', 'Year'])

In [26]:
car={
    "Brand":"Ford",
    "Model":"Mustang",
    "Year":1964
}
x=car.keys()

print(x) # BEFORE THE CHANGE..
print(x1)
car["Color"]="White"
print(x) # AFTER THE CHANGE..
x1=car.values()
print(x1)

dict_keys(['Brand', 'Model', 'Year'])
dict_values(['Ford', 'Mustang', 1964])
dict_keys(['Brand', 'Model', 'Year', 'Color'])
dict_values(['Ford', 'Mustang', 1964, 'White'])

In [30]:
car={
    "Brand":"Ford",
    "Model":"Mustang",
    "Year":1964
}
for x, y in car.items():
    print(x,y)

Brand Ford
Model Mustang
Year 1964

In [1]:
#..PAYTHON TUPLES..#
tuples=("apple","banana","chery")
print(tuples)

('apple', 'banana', 'chery')

In [2]:
tuples=("apple","banana","chery","apple","chery")   #...Allow Duplicates    
print(tuples)

('apple', 'banana', 'chery', 'apple', 'chery')

In [3]:
#....Tuple Length
tuples=("apple","banana","chery")
print(len(tuples))

3

In [5]:
#..Create Tuple With One Item
tuples=("apple",)
print(type(tuples))
#NOT a tuple
tuples=("apple")
print(type(tuples))

<class 'tuple'>
<class 'str'>

In [7]:
#..Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [8]:
#..The tuple() Constructor
t=tuple(("apple","banana","chery"))
print(t)

('apple', 'banana', 'chery')

In [21]:
#..Access Tuple Items
t=("apple","banana","chery","orange","kiwi","melon","mango")
print(t[0])
print(t[1])
print(t[2])
print(t[-1])
print(t[-2])
print(t[-3])
print(t[2:5])
print(t[:4])
print(t[2:-2])
print(t[-4:-1])

apple
banana
chery
mango
melon
kiwi
('chery', 'orange', 'kiwi')
('apple', 'banana', 'chery', 'orange')
('chery', 'orange', 'kiwi')
('orange', 'kiwi', 'melon')

In [22]:
#..Check if Item Exists
t=("apple","banana","chery")
if "apple" in t:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [31]:
#..Change Tuple Values
t=("apple","banana","chery")
x=list(t)
x[1]="kiwi"
t=tuple(x)
print(x)

['apple', 'kiwi', 'chery']

In [32]:
#..Add Items
t=("apple","banana","chery")
x=list(t)
x.append("kiwi")
t=tuple(x)
print(t)

('apple', 'banana', 'chery', 'kiwi')

In [34]:
#..Add tuple to a tuple.
t=("apple","banana","chery")
x=("kiwi",)
t += x
print(t)

('apple', 'banana', 'chery', 'kiwi')

In [36]:
#..Remove Items
t=("apple","banana","chery")
x=list(t)
x.remove("apple")
t=tuple(x)
print(t)

('banana', 'chery')

In [37]:
#..The del keyword can delete the tuple completely:
t = ("apple", "banana", "cherry")
del t
print(t) #this will raise an error because the tuple no longer exists

NameError: name 't' is not defined

In [38]:
#..Python - Unpack Tuples
#..Unpacking a Tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red)=fruits 
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [40]:
#..Using Asterisk*
#..If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [41]:
#..Python - Loop Tuples
#..Loop Through a Tuple
t = ("apple", "banana", "cherry")
for x in t:
    print(x)

apple
banana
cherry

In [42]:
#..Loop Through the Index Numbers
t = ("apple", "banana", "cherry")
for i in range(len(t)):
    print(t[i])

apple
banana
cherry

In [43]:
#..Using a While Loop
t = ("apple", "banana", "cherry")
i = 0
while i < len(t):
    print(t[i])
    i = i + 1

apple
banana
cherry

In [44]:
#..Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [45]:
#..Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [52]:
#..Python Tuple count() & index() Method
t = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = t.count(5)
x1 = t.index(8)
print(x)
print(x1)

2
3

In [ ]:
..Python Set Methods..

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two or more sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with another set, or any other iterable

In [54]:
#..Python Set add() Method
#..Add an element to the fruits set:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

In [55]:
#..Python Set clear() Method
#..Remove all elements from the fruits set:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [56]:
#..Python Set copy() Method
#..Copy the fruits set:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'cherry', 'apple', 'banana'}

In [57]:
#..Python Set difference() Method
#..Return a set that contains the items that only exist in set x, and not in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [58]:
#..Python Set difference_update() Method
#..Remove the items that exist in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

In [59]:
#..Python Set discard() Method
#..Remove "banana" from the set:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [60]:
#..Python Set intersection() Method
#..Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [61]:
#..Python Set intersection_update() Method
#..Remove the items that is not present in both x and y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [63]:
#..Python Set isdisjoint() Method
#..Return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

False

In [64]:
#..Python Set issubset() Method
#..Return True if all items in set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [65]:
#..Python Set issuperset() Method
#..Return True if all items set y are present in set x:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [69]:
#..Python Set pop() Method
#..Remove a random item from the set:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'apple', 'banana'}

In [70]:
#..Python Set remove() Method
#..Remove "banana" from the set:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [71]:
#..Python Set symmetric_difference() Method
#..Return a set that contains all items from both sets, except items that are present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'google', 'banana', 'cherry', 'microsoft'}

In [72]:
#..Python Set symmetric_difference_update() Method
#..Remove the items that are present in both sets, AND insert the items that is not present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'cherry', 'microsoft'}

In [73]:
#..Python Set union() Method
#..Return a set that contains all items from both sets, duplicates are excluded:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'apple', 'banana', 'google', 'cherry', 'microsoft'}

In [74]:
#..Python Set update() Method
#..Insert the items from set y into set x:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'apple', 'banana', 'google', 'cherry', 'microsoft'}