In [ ]:
#44) Write a program that asks the user to enter a length in centimeters. If the user enters a negative length, the program should tell the user that the entry is invalid. Otherwise, the program should convert the length to inches and print out the result. There are 2.54 centimeters in an inch.

In [1]:
#45) Ask the user to enter a temperature in Celsius. The program should print a message based on the temperature:

t=eval(input("Enter Temperature In Celsius:- "))
if t<=-273:
    print("The temperature is invalid because it is below absolute zero")
elif t==-273:
    print("The temperature is absolute 0")
elif t>-273 and t<0:
    print("The temperature is below freezing.")
elif t==0:
    print("The temperature is at the freezing point.")
elif t>0 and t<100:
    print("The temperature is in the normal range.")
elif t==100:
    print("The temperature is at the boiling point.")
elif t>100:
    print("The temperature is above the boiling point.")

Enter Temperature In Celsius:- 50
The temperature is in the normal range.

In [1]:
#46) Write a program that asks the user how many credits they have taken. If they have taken 23 or less, print that the student is a freshman. If they have taken between 24 and 53, print that they are a sophomore. The range for juniors is 54 to 83, and for seniors it is 84 and over.

c=eval(input("Credit They Have Taken:-"))
if c<=23:
    print("The student is a freshman.")
elif c>23 and c<=53:
    print("They are a sophomore.")
elif c>=54 and c<=83:
    print("The range for juniors")
elif c>=84:
    print("For seniors")
else:
    print("Over")

Credit They Have Taken:-67
The range for juniors

In [5]:
#47) Generate a random number between 1 and 10. Ask the user to guess the number and print a message based on whether they get it right or not.

a=eval(input("Enter Random Number:-"))
if a>1 and a<=10:
    print("whether they get it right")
else:
    print("whether they get it Not right")

Enter Random Number:-15
whether they get it Not right

In [17]:
#48) A store charges $12 per item if you buy less than 10 items. If you buy between 10 and 99 items, the cost is $10 per item. If you buy 100 or more items, the cost is $7 per item. Write a program that asks the user how many items they are buying and prints the total cost. 

i=eval(input("Enter Total Items:-"))
if i<10:
    ans=i*12
    print("Total Cost:- ",ans,"$")
elif i>=10 and i<=99:
    ans1=i*10
    print("Total Cost:- ",ans1,"$")
elif i>=100:
    ans2=i*7
    print("Total Cost:- ",ans2,"$")
else:
    print("Thank You For Visit..")

Enter Total Items:-110
Total Cost:-  770 $

In [5]:
#49) Write a program that asks the user for two numbers and prints Close if the numbers are within .001 of each other and Not close otherwise.

In [18]:
#50) Write a multiplication game program for kids. The program should give the player ten randomly generated multiplication questions to do. After each, the program should tell them whether they got it right or wrong and what the correct answer is.

from random import randint
for i in range(10):
    x=randint(1,15)
    y=randint(1,10)
    ans=x*y
    print("Question",i+1,":",x,"*",y)
    ans1=eval(input("Enter Your Answer: "))
    if ans==ans1:
        print("Right")
    else:
        print("Wrong Answer","Right Answer Is ",ans)
print("..Thank You For Play Multiplication Game..")

Question 1 : 15 * 3
Enter Your Answer: 45
Right
Question 2 : 6 * 9
Enter Your Answer: 54
Right
Question 3 : 13 * 6
Enter Your Answer: 78
Right
Question 4 : 14 * 1
Enter Your Answer: 14
Right
Question 5 : 6 * 7
Enter Your Answer: 42
Right
Question 6 : 9 * 10
Enter Your Answer: 90
Right
Question 7 : 13 * 8
Enter Your Answer: 88
Wrong Answer Right Answer Is  104
Question 8 : 4 * 7
Enter Your Answer: 28
Right
Question 9 : 10 * 2
Enter Your Answer: 20
Right
Question 10 : 11 * 1
Enter Your Answer: 11
Right
..Thank You For Play Multiplication Game..

In [4]:
#51) Wap to Print all Odd Number 1 to 100. 

for o in range(1,10,2):
    print(o)

1
3
5
7
9

In [3]:
#52) Wap to Check entered Number is Palidramic or not.
s=input("Enter A Word:")  
if(s==s[::-1]):  
      print("The Word is a palindrome:-",s)  
else:  
      print("The Word is not a palindrome")

Enter A Word:malayalam
The Word is a palindrome:- malayalam

In [4]:
s='tirth'
t="tirth"
m="""tirth"""
string=input('enter a string')
print(s)
print(t)
print(m)
print(string)

enter a string5
tirth
tirth
tirth
5

In [1]:
s='tirth'
l=len(s)
print(l)

5

In [6]:
a='ab'+'7'+'cd'
b='-'*50
print(a)
print(b)

ab7cd
--------------------------------------------------

In [16]:
x=input("Enter character:-")
if x in 'tirth95':
    print("vowel")
else:
    print("consonent")

Enter character:-5
vowel

In [45]:
a="tirth"

print(a)

tirth

In [32]:
#..Indexing..#
s="tirth"
s1=s[0]
s2=s[1]
s3=s[-1]
s4=s[-2]
print(s1)
print(s2)
print(s3)
print(s4)

t
i
h
t

In [28]:
#..Slices..#
  #012345678
s="TirthModi"
print(s[2:5])
print(s[:5])
print(s[5:])
print(s[-2:])
print(s[:])
print(s[1:7:2])
print(s[::-1])

rth
Tirth
Modi
di
TirthModi
itM
idoMhtriT

In [25]:
#..String Methods..#
x="tirth"
x1="tirth"
x2="TIRTH"
y=x.count('i')
y1=x.index('t')
x=x.replace('t','r')
print(y)
print(y1)
print(x)
print(x.isalpha())
print(x1.upper())
print(x2.lower())

1
0
rirrh
True
TIRTH
tirth

In [52]:
#80) (a) The total number of characters in the string

a=input("Enter Character:-")
l=len(a)
print(l)

Enter Character:-tirth
5

In [54]:
#80) (b) The string repeated 10 times 

a='*'*10
print(a)

**********

In [55]:
#80) (c) The first character of the string (remember that string indices start at 0) 

a="tirth"
print(a[0])

t

In [58]:
#80) (d) The first three characters of the string

a="tirth"
print(a[0:-2])

tir

In [65]:
# 80)(e) The last three characters of the string

a="tirth"
print(a[2:])

rth

In [4]:
#80) (f) The string backwards

a=input("Enter Character")
print(a[::-1])

Enter Charactertirth modi
idom htrit

In [15]:
#80) (g) The seventh character of the string if the string is long enough and a message otherwise

a=input("Enter Value:-")
if a:
    print(a[6])
else:
    print("the string is long enough")

Enter Value:-0123456789
6

In [18]:
#80) (h) The string with its first and last characters removed (i) The string in all caps

a="tirth"
print(a[1:-1])
print(a.upper())

irt
TIRTH

In [19]:
#80) (j) The string with every a replaced with an e

a="tirth"
a=a.replace('t','e')
print(a)

eireh