In [2]:
## OOPS

class test:
    def func1(self):
        return "hello world"
    def func2(self):
        return "hheeelllloooo woorrllddd"
obj = test()
print(obj.func1())
print(obj.func2())

hello world
hheeelllloooo woorrllddd

In [6]:
class test:
    """This is a class for addition of two variable"""
    def add(self,a,b):
        return a+b
    def sub(self,a,b):
        return a-b
a = int(input())
b = int(input())

obj = test()
print(obj.add())
print(obj.sub())

5
6

TypeError: test.add() missing 2 required positional arguments: 'a' and 'b'

In [14]:
class test:
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b

a=int(input())
b=int(input())

obj = test(a,b)
obj.add()

8
5

3

In [18]:
class person:
    def __init__(self,id,name,age):
        self.id = id
        self.name = name
        self.age = age
    def id(self):
        return self.id
    def name(self):
        return self.name
    def age(self):
        return self.age
id=int(input("Enter ID"))
name=input("Enter Name")
age=input("Enter Age")

obj=person(id,name,age)
print("ID:-",id," My Name Is",name,"And My Age Is",age)

Enter ID55
Enter Nametirth
Enter Age28
ID:- 55  My Name Is tirth And My Age Is 28

In [19]:
class person:
    
    # init method or constructor
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def say_hi(self):
        print("Hello my name is",self.name)
    def age_1(self):
        print("My age is",self.age)
        
p = person('tirth',23)
p.age_1()

My age is 23

In [4]:
class A:
    def func1(self):
        return "This is belogs to A class"
    def func12(self):
        return "This is belogs to A12 class"
class B(A):
    def func2(self):
        return "This is belogs to B class"

obj_b = B()
#obj_b.func1()
#obj_b.func12()
obj_b.func2()

'This is belogs to B class'

In [22]:
class cars:
    def __init__(self,model,colore,window,year):
        self.model = model
        self.colore = colore
        self.window = window
        self.year = year
    def func_car2(self):
        return self.model, self.colore, self.window, self.year
    
class cars2(cars):
    def __init__(self,model,colore,window,year,id,city):
        self.id = id
        self.city = city
        cars.__init__(self, model,colore,window,year)
    def func_car3(self):
        return self.id, self.city
    
obj = cars2('suv','black',4,2014,34,'anand')
obj.func_car3()

(34, 'anand')

In [26]:
class flat1:
    def __init__(self,badroom_1,badroom_2):
        self.badroom_1 = badroom_1
        self.badroom_2 = badroom_2
    def func_flat1(self):
        return self.badroom_1, self.badroom_2
class flat2(flat1):
    def __init__(self,badroom_1,badroom_2,balcony_1,balcony_2):
        self.balcony_1 = balcony_1
        self.balcony_2 = balcony_2
        flat1.__init__(self,badroom_1,badroom_2)
    def func_flat2(self):
        return self.balcony_1, self.balcony_2
obj = flat2(1,'Badroom_2',2,'balcony_2')
obj.func_flat2()
#print(obj)

(2, 'balcony_2')

In [4]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [1]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = graduationyear

firstname = input("Enter Your First Name:- ")
lastname = input("Enter Your last Name:- ")
graduationyear = eval(input("Enter Your Graduation Year:- "))
x = Student(firstname,lastname)
print("My Name Is",x.firstname, x.lastname,"And My Graduation Year Is", x.graduationyear)

Enter Your First Name:- Tirth
Enter Your last Name:- Modi
Enter Your Graduation Year:- 2015
My Name Is Tirth Modi And My Graduation Year Is 2015

In [2]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
        #return self.firstname, self.lastname

class Student(Person):
    def __init__(self, fname, lname, graduationyear, city):
        self.graduationyear = graduationyear
        self.city = city
        Person.__init__(self,firstname,lastname)
    def printname2(self):
        print(self.graduationyear, self.city)
        
        
class BIT:
    def __init__(self, language_1, language_2, language_3, language_4, language_5, language_6, language_7, language_8):
        self.language_1 = language_1
        self.language_2 = language_2
        self.language_3 = language_3
        self.language_4 = language_4
        self.language_5 = language_5
        self.language_6 = language_6
        self.language_7 = language_7
        self.language_8 = language_8        
#        Person.__init__(self,firstname,lastname)
    def printname3(self):
        print("Languages: ",self.language_1, self.language_2, self.language_3, self.language_4, 
              self.language_5, self.language_6, self.language_7, self.language_8)
        #return self.language_1, self.language_2    
class Experiance(BIT):
    def __init__(self, language_1, language_2, language_3, language_4, 
              language_5, language_6, language_7, language_8, Experiance):
        self.Experiance = Experiance
        BIT.__init__(self,language_1, language_2, language_3, language_4, 
              language_5, language_6, language_7, language_8)
    def printname4(self):
        print(self.Experiance)
        
firstname = input("Enter Your First Name:- ")
lastname = input("Enter Your last Name:- ")
graduationyear = eval(input("Enter Your Graduation Year:- "))
city = input("Enter Your City:- ")
x = Student(firstname,lastname,graduationyear,city)
print("------------------------------------------------------------------------------------------------------------------------------")
print("~~~~~ Personal Details ~~~~~")
print("My Name Is",x.firstname, x.lastname)
print("My Graduation Year Is", x.graduationyear)
print("I Am Belong To",x.city)
x = BIT("Pythonüêç","SQLüíπ","Data Scientist & Analytics","Advance Excel",
        "Machine Learning","PowerBIüìä","Statistics","Capstone Project.")
x.printname3()
print("~~~~~~~ Experiance ~~~~~~~")
obj = Experiance("Pythonüêç","SQLüíπ","Data Scientist & Analytics","Advance Excel",
        "Machine Learning","PowerBIüìä","Statistics","Capstone Project.",'Bharat Pharmaceuticals Ltd.')
obj.printname4()
print("------------------------------------------------------------------------------------------------------------------------------")
#Experiance = eval(input("Enter Experiance:-"))

Enter Your First Name:- Tirth
Enter Your last Name:- Modi
Enter Your Graduation Year:- 2015
Enter Your City:- Baroda
------------------------------------------------------------------------------------------------------------------------------
~~~~~ Personal Details ~~~~~
My Name Is Tirth Modi
My Graduation Year Is 2015
I Am Belong To Baroda
Languages:  Pythonüêç SQLüíπ Data Scientist & Analytics Advance Excel Machine Learning PowerBIüìä Statistics Capstone Project.
~~~~~~~ Experiance ~~~~~~~
Bharat Pharmaceuticals Ltd.
------------------------------------------------------------------------------------------------------------------------------

In [70]:
fullname = input("Enter Your Full Name:- ")
city = input("Enter Your City:- ")
collagename = input("Enter Your Collage Name:- ")
graduationyear = eval(input("Enter Your Graduation Year:- "))
CompanyName = input("Enter Present Company Name:- ")
totalexp = eval(input("Enter Your Total Experiance:- "))

class Person:
    def __init__(self, fullname, city):
        self.fullname = fullname
        self.city = city
    def printname1(self):
        return self.fullname, self.city

class Student(Person):
    def __init__(self, fullname, city, collagename, graduationyear):
        self.collagename = collagename
        self.graduationyear = graduationyear
        Person.__init__(self,fullname,city)
    def printname2(self):
        return self.collagename, self.graduationyear
x = Student(fullname,city,collagename,graduationyear)

class Experiance:
    def __init__(self, CompanyName, totalexp):
        self.CompanyName = CompanyName
        self.totalexp = totalexp
    def printname3(self):
        return self.CompanyName, self.totalexp
skl=[]
for i in range(3):
    x1 = input("Enter Your Skill:-")
    skl.append(x1)
    class Skill(Experiance):
        def __init__(self, CompanyName, totalexp, skill, skill1, skill2):
            self.skill = skill
            self.skill1 = skill1
            self.skill2 = skill2
            Experiance.__init__(self,CompanyName, totalexp)
        def printname4(self):
            return self.skill, self.skill1, self.skill2
print("------------------------------------------------------------------------------------------------------------------------------")
print("~~~~~ Personal Details ~~~~~")
print("My Name Is",fullname)
print("I Am Belong To",city)
print("My Collage Name Is",collagename)
print("My Graduation Year Is", graduationyear)
print("~~~~~~~ Experiance ~~~~~~~")
print("Company Name Is",CompanyName)
print("Total Experiance Is",totalexp,"Year")
print("~~~~~~~~ Skill ~~~~~~~~")
print("My Technical Skill Is Below")
print(skl)
print("------------------------------------------------------------------------------------------------------------------------------")

Enter Your Full Name:- Tirth R Modi
Enter Your City:- Himatnagar
Enter Your Collage Name:- Grow More Group Of Institutions
Enter Your Graduation Year:- 2015
Enter Present Company Name:- Bharat Parenterls Ltd
Enter Your Total Experiance:- 5.4
Enter Your Skill:-Python
Enter Your Skill:-SQL
Enter Your Skill:-Power BI
------------------------------------------------------------------------------------------------------------------------------
~~~~~ Personal Details ~~~~~
My Name Is Tirth R Modi
I Am Belong To Himatnagar
My Collage Name Is Grow More Group Of Institutions
My Graduation Year Is 2015
~~~~~~~ Experiance ~~~~~~~
Company Name Is Bharat Parenterls Ltd
Total Experiance Is 5.4 Year
~~~~~~~~ Skill ~~~~~~~~
My Technical Skill Is Below
['Python', 'SQL', 'Power BI']
------------------------------------------------------------------------------------------------------------------------------

In [65]:
obj = Student('Tirth Modi','Himatnagar','Grow More Group Of Institutions',2015)
obj.printname1()

('Tirth Modi', 'Himatnagar')

In [66]:
obj = Student('Tirth Modi','Himatnagar','Grow More Group Of Institutions',2015)
obj.printname2()

('Grow More Group Of Institutions', 2015)

In [67]:
obj = Skill('Bharat Parenterls Ltd',5.4,'Python','SQL','Power BI')
obj.printname3()

('Bharat Parenterls Ltd', 5.4)

In [68]:
obj = Skill('Bharat Parenterls Ltd',5.4,'Python','SQL','Power BI')
obj.printname4()

('Python', 'SQL', 'Power BI')