In [16]:
#112) Ask the user to enter a list containing numbers between 1 and 12. Then replace all of the entries in the list that are greater than 10 with 10.
l=eval(input("Enter List Containing Numbers Between 1 & 12:- "))
for i in range(len(l)):
    if l[i]>10:
        l[i]=10
print("List After Removing Numbers Greater Than 10:-",l)

Enter List Containing Numbers Between 1 & 12:- [3,15,10,12]
List After Removing Numbers Greater Than 10:- [3, 10, 10, 10]

In [17]:
#113) Ask the user to enter a list of strings. Create a new list that consists of those strings with their first characters removed.

l=eval(input("Enter a list of strings:- "))
l1=[] 
for i in range(len(l)): 
    l1.append(l[i][1:]) 
print("List after removing first characters:-",l1)

Enter a list of strings:- ['TIRTH', 'NIDHI', 'ANJALI']
List after removing first characters:- ['IRTH', 'IDHI', 'NJALI']

In [21]:
from random import choice
l=["NIDHI","TIRTH","ANJALI"]
x=choice(l)
print(x)

TIRTH

In [22]:
from random import sample
l=["NIDHI","TIRTH","ANJALI"]
x=sample(l,2)
print(x)

['ANJALI', 'NIDHI']

In [24]:
from random import shuffle
l=["NIDHI","TIRTH","ANJALI"]
shuffle(l)
print(l)

['ANJALI', 'NIDHI', 'TIRTH']

In [38]:
s="djd djkfd fdjk kfjkisd skjid"
x=s.split('j')
print(x)

['d', 'd d', 'kfd fd', 'k kf', 'kisd sk', 'id']

In [51]:
l=['A','B','C']
x=' '.join(l)
x1=''.join(l)
x2=', '.join(l)
x3='***'.join(l)
print(x)
print(x1)
print(x2)
print(x3)

A B C
ABC
A, B, C
A***B***C

In [52]:
l=[]
for i in range (10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
l=[i for i in range (10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
#114) Create the following lists using a for loop.
#(a) A list consisting of the integers 0 through 49
l = [i for i in range(50)]
print("List with integers from 0 to 49:",l)

List with integers from 0 to 49: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [70]:
#(b) A list containing the squares of the integers 1 through 50.
l=[] 
for i in range(1, 51): 
    l.append(i * i) 
print("List with square of integers from 1 to 50:-") 
print(l)

List with square of integers from 1 to 50:-
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [81]:
#(c) The list ['a','bb','ccc','dddd', ...] that ends with 26 copies of the letter z.

In [ ]:
#115) Write a program that takes any two lists L and M of the same size and adds their elements together to form a new list N whose elements are sums of the corresponding elements in L and M. For instance, if L=[3,1,4] and M=[1,5,9], then N should equal [4,6,13].

l=[3,1,4]
m=[4,6,13]
for i in i

In [103]:
#116) Write a program that removes any repeated items from a list so that each item appears at most once. For instance, the list [1,1,2,3,4,3,0,0] would become [1,2,3,4,0].
l=[1,1,2,3,4,3,0,0]
x=list(set(l))
print("Orignal Word:-",l)
print("Removed Repeated Value:-",list(set(l)))

Orignal Word:- [1, 1, 2, 3, 4, 3, 0, 0]
Removed Repeated Value:- [0, 1, 2, 3, 4]